[Unit]
Description=Lightweight Pi Monitor
After=network-online.target
Wants=network-online.target

[Service]
Type=simple
ExecStart=/usr/local/bin/pi-monitor
Restart=always
RestartSec=2
User=root
WorkingDirectory=/usr/share/pi-monitor

[Install]
WantedBy=multi-user.target
